{
    "extends": [
        "airbnb", 
        "airbnb/hooks", 
        "airbnb-typescript"
    ],
    "parserOptions": {
       "project": "./tsconfig.json"
    },
    "rules": {
        "react/jsx-one-expression-per-line": "off",
        "jsx-a11y/click-events-have-key-events": "off"
    }
}